doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Language', content='en')
    title #{title}
    link(href='../css/app.css', rel='stylesheet')
  body
    section.scrolls#magical-me
      div.overlay
        h1 aravind srivatsan
        span.title web developer.  mobile developer.  ui/ux designer.
        nav
          ul
            li #[a(href='#who-am-i') magical me]
            li #[a(href='#travel-trilogy') coffee time]
            li #[a(href='#talk-to-me') talk to me]
    section.scrolls#who-am-i
    section.scrolls#travel-trilogy
      div.overlay
