doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Language', content='en')
    meta(name='description', content=message)
    meta(name='author', content='Aravind Srivatsan')
    meta(name='keywords', content='porfolio,works,aboutme,magicalme,aravind,aravindsrivats')
    title #{title}
    link(href='../css/app.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
  body
    section.scrolls#magical-me
      div.overlay
        h1 aravind srivatsan
        span.title full-stack developer.  android developer.  ui/ux designer.
        nav
          ul
            li #[a(href='#who-am-i') magical me]
            li #[a(href='#coffee-time') coffee time]
            li #[a(href='#talk-to-me') talk to me]
    section.scrolls#who-am-i
      h2 who am i?
      div.content
    section.scrolls#coffee-time
      div.overlay
        div.content
          div.grind
            div.beans
              each project in projects
                div.bean-picture
                  div.img(style='background: url(../assets/thumbs/' + project.img + ') no-repeat; background-position: 10% 30%;')
                  div.desc
                    h3= project.title
                    p= project.description
                    ul
                      each stack in project.stack
                        li(class='fa fa-lg fa-'+stack)
            

    script(data-main='../js/app.js' src='/components/requirejs/require.js')
