doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Language', content='en')
    meta(name='description', content=message)
    meta(name='author', content='Aravind Srivatsan')
    meta(name='keywords', content='porfolio,works,aboutme,magicalme,aravind,aravindsrivats')
    title #{title}
    link(href='../css/app.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
  body
    div.wrapper
      section.explorer
        h1
          span.fa.fa-chevron-down.fa-small.arrow
          span.fa.fa-book
          | magical.me
        nav 
          ul
            li.disabled
              a 
                span.fa.fa-chevron-right.fa-small.arrow
                span.fa.fa-folder
                | .build
            li.disabled
              a  
                span.fa.fa-chevron-right.fa-small.arrow
                span.fa.fa-folder
                | .git
            li
              a(href='#magical-me')
                span.fa
                span.fa.fa-file-text-o
                | magical-me
            li#assets
              a
                span.fa.fa-chevron-right.fa-small.arrow
                span.fa.fa-folder
                | assets
              ul
                li
                  a
                    span.fa
                    span.fa.fa-file-text-o
                    | project# 1
                li
                  a
                    span.fa
                    span.fa.fa-file-text-o
                    | project# 2
            li
              a(href='#projects')
                span.fa
                span.fa.fa-file-text-o
                | projects.json
      section.scrolls
        div.title-bar
          ul
            li#magical-me
              | magical-me
              span.icon.fa
            li#projects
              | projects.json
              span.icon.fa   

    script(data-main='../js/app.js' src='/components/requirejs/require.js')
