@import 'colors';
@defaultFont: 'Helvetica Neue', 'Helvetica', 'Myraid Pro', 'Arial', sans-serif;
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 13px;
  color: #a8aaaf;
  overflow: hidden;
  font-family: @defaultFont;
  font-size: 100%;
  background: #1c1d21;
}
a {
  text-decoration: none;
  color: #a8aaaf;
  background: transparent;
  &:focus {
    text-decoration: none;
  }
  &:active,
  &:hover {
    color: @primaryColor;
    text-decoration: none;
    outline: 0;
  }
}
.wrapper {
  height: 100%;
}
.explorer {
  width: 20%;
  position: fixed;
  height: 100%;
  h1 {
    font-size: 14px;
    cursor: pointer;
    line-height: 14px;
    padding: 20px;
    font-weight: normal;
    color: #a8aaaf;
    text-shadow: 1px 1px @textColor, inset 1px 2px @lightColor;
    &:hover {
      color: #fff;
      background: @secondaryColor;
    }
  }
  .fa {
    font-size: 15px;
    line-height: 15px;
    width: 15px;
    text-align: center;
    margin-right: 15px;
  }
  .fa-small {
    font-size: 11px;
  }
  nav {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 777;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
      li {
        display: block;
        cursor: pointer;
        font-family: @defaultFont;
        font-size: 13px;
        line-height: 14px;
        font-weight: normal;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -o-transition: background 0.3s ease;
        -ms-transition: background 0.3s ease;
        transition: background 0.3s ease;
        &.disabled a {
          color: #515156;
        }
        a {
          display: block;
          padding: 15px 0 15px 30px;
          &:hover {
            color: #fff;
            background: fade(@secondaryColor, 50%);
          }
          &.highlight {
            color: #fff;
            background: @secondaryColor;
          }
        }
        ul {
          display: none;
          li {
            a {
              padding: 10px 0 10px 40px;
            }
          }
        }
      }
    }
  }
}
section.scrolls {
  position: relative;
  margin-left: 20%;
  width: 80%;
  height: 100%;
  .title-bar {
    width: 100%;
    height: 50px;
    font-family: @defaultFont;
    font-size: 13px;
    font-weight: normal;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: none;
        position: relative;
        width: 150px;
        line-height: 50px;
        cursor: pointer;
        padding: 0 10px;
        transition: 0.3s all ease;
        .icon {
          position: absolute;
          right: 15px;
          line-height: 50px;
        }
        &.active {
          border-bottom: solid 2px @primaryColor;
        }
      }
    }
  }
  .scroll-area {
    height: 100%;
    width: 100%;
    margin-top: 2px;
    position: relative;
    display: flex;
    flex-direction: row;
    .scroll {
      opacity: 0;
      width: 98%;
      min-height: 98%;
      height: auto;
      background: #1c1d21;
      padding: 1%;
      position: absolute;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      line-height: 25px;
      z-index: 600;
      top: 0;
      left: 0;
      transition: 0.5s all ease;
      .line-num {
        width: 30px;
        padding-left: 10px;
        font-size: 14px;
        line-height: 25px;
        color: #515156;
        p.higher {
          line-height: 30px;
        }
      }
      .general {
        height: auto;
        .tag {
          color: #515156;
        }
        .title {
          color: @primaryColor;
          font-size: 24px;
          font-weight: bold;
        }
        .json-var {
          margin-left: 25px;
        }
        .value {
          color: #fff;
          transition: 0.3s all ease;
        }
        a:hover .value {
          color: @primaryColor;
        }
        p {
          width: 85%;
        }
      }
      &.shown {
        opacity: 1;
        z-index: 601;
      }
    }
  }
}
.clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
