@primaryColor: #8BC34A;
@secondaryColor: #58A417;
@lightColor: #DCEDC8;

@primaryTextColor: #FFFFFF;
@textColor: #212121;
@secondaryTextColor: #727272;
@supplementaryColor: #B6B6B6;

@overlayBackground: rgba(0,0,0,0.6);
@navBackground: rgba(0,0,0,0.7);
